<!DOCTYPE html>

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/bookmarks">Bookmarks</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sign Up</a>
          </li>
        </ul>
      </div>
    </nav> 

    <div class = "alert alert-<%= flash[:alert] %> pb-0 pt-0 mt-0 mb-0" role ="alert">
      <h4 class =" text-center pb-0 pt-0 mt-0 mb-0"> <%= flash[:notice] %></h4>
    </div>
    <div class="container">
        
        <div class="container mt-4">
          <ul class="list-group">
            <% @bookmarks.each do |bookmark| %>
              <%url = bookmark.url %>
              <%title = bookmark.title %>
              <%id = bookmark.id %>
              <li class="list-group-item m-1 bg-light"> 
                <div class="form-group">
                  <a class ="ml-0 pl-0 float-left" href="<%= url %>"><p class="text-primary m-0"><%= title %></p></a>
                  <form class="float-right form-label" action="/bookmarks/delete/<%= id %>" method="post">
                      <input class="btn btn-danger pb-0 pt-0 ml-1" type="submit" value="Delete" id="remove_<%= title.split(' ').join('_').downcase %>"/>
                  </form>
                  <form class="float-right form-label" action="/bookmarks/edit/<%= id %>" method="get">
                      <input class="btn btn-warning pb-0 pt-0" type="submit" value="Edit" id="edit_<%= title.split(' ').join('_').downcase %>"/>
                  </form>   
                </div>
              </li>
            <% end %>
          </ul>
        </div>
    
      <div class="container text-center mt-2">
        <form action="/bookmarks/add" method="post">
          <label for="new_url">
            <input type="text" name="new_url"  placeholder="url">
          </label>
          <label for="new_title">
            <input type="text" name="new_title" placeholder="title">
          </label>
          <input class="btn btn-success pb-0 pt-0 mb-1" type="submit" value="Add Bookmark">
        </form>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>